In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [2]:
df = pd.read_csv(
    "../data/raw/online_retail.csv",
    encoding="latin1",
    parse_dates=["InvoiceDate"]
)

print(f"Dataset Shape: {df.shape}")
df.head(10)

Dataset Shape: (541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [3]:
print("Date Range:")
print("Start:", df["InvoiceDate"].min())
print("End:", df["InvoiceDate"].max())

Date Range:
Start: 2010-12-01 08:26:00
End: 2011-12-09 12:50:00

In [4]:
print("Unique Customers:", df["CustomerID"].nunique())

Unique Customers: 4372

In [5]:
print("Unique Products:", df["StockCode"].nunique())

Unique Products: 4070

In [6]:
print("Countries:", df["Country"].nunique())

Countries: 38

In [7]:
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

missing_df = pd.DataFrame({
    "Missing Count": missing_values,
    "Missing Percentage": missing_percentage.round(2)
})

missing_df

             Missing Count  Missing Percentage
InvoiceNo                0                0.00
StockCode                0                0.00
Description           1454                0.27
Quantity                 0                0.00
InvoiceDate              0                0.00
UnitPrice                0                0.00
CustomerID          135080               24.93
Country                  0                0.00

In [8]:
print("Duplicate Rows:", df.duplicated().sum())

Duplicate Rows: 5268

In [9]:
df["Quantity"].describe()
print("Negative Quantities:", (df["Quantity"] < 0).sum())

Negative Quantities: 10624

In [10]:
print("Price Statistics:")
print("Min:", df["UnitPrice"].min())
print("Max:", df["UnitPrice"].max())
print("Median:", df["UnitPrice"].median())

Price Statistics:
Min: -11062.06
Max: 38970.0
Median: 2.08

In [14]:
print("Cancelled Invoices:", df["InvoiceNo"].astype(str).str.startswith("C").sum())
print("Zero or Negative Prices:", (df["UnitPrice"] <= 0).sum())
print("Extremely High Quantities (>1000):", (df["Quantity"] > 1000).sum())

Cancelled Invoices: 9288
Zero or Negative Prices: 2517
Extremely High Quantities (>1000): 116

In [15]:
import json

data_quality_summary = {
    "total_rows": len(df),
    "total_columns": len(df.columns),
    "missing_values": df.isnull().sum().to_dict(),
    "duplicate_rows": int(df.duplicated().sum()),
    "date_range": {
        "start": str(df["InvoiceDate"].min().date()),
        "end": str(df["InvoiceDate"].max().date())
    },
    "negative_quantities": int((df["Quantity"] < 0).sum()),
    "cancelled_invoices": int(df["InvoiceNo"].astype(str).str.startswith("C").sum()),
    "missing_customer_ids": int(df["CustomerID"].isnull().sum()),
    "missing_customer_ids_percentage": round(
        (df["CustomerID"].isnull().sum() / len(df)) * 100, 2
    )
}

with open("../data/raw/data_quality_summary.json", "w") as f:
    json.dump(data_quality_summary, f, indent=4)

data_quality_summary

{'total_rows': 541909,
 'total_columns': 8,
 'missing_values': {'InvoiceNo': 0,
  'StockCode': 0,
  'Description': 1454,
  'Quantity': 0,
  'InvoiceDate': 0,
  'UnitPrice': 0,
  'CustomerID': 135080,
  'Country': 0},
 'duplicate_rows': 5268,
 'date_range': {'start': '2010-12-01', 'end': '2011-12-09'},
 'negative_quantities': 10624,
 'cancelled_invoices': 9288,
 'missing_customer_ids': 135080,
 'missing_customer_ids_percentage': np.float64(24.93)}